<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p class="toolbar-text">Users</p>
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <input pInputText placeholder="Search Users" class="search-box-input" />
        <i class="pi pi-search"></i>
      </span>
    </div>
    <div class="p-toolbar-group-end">
      <button class="toolbar-add-btn" (click)="openAddUserForm()">
        Add User
      </button>
    </div>
  </p-toolbar>
</div>
