<div class="dialog-container">
  <div mat-dialog-title>
    <h1 class="header-text">Add new User</h1>
  </div>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmitForm()">
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field appearance="outline" class="name firstname-name">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="name last-name">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="name email">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="name password">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>
      <div class="row select">
        <mat-form-field appearance="outline">
          <mat-label>Select Roles</mat-label>
          <mat-select [formControl]="roles" multiple formControlName="role">
            @for (role of rolesList; track role) {
            <mat-option [value]="role">{{ role }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-container" mat-dialog-action>
      <button class="btn btn-save" type="submit">
        {{ data ? "Update" : "Save" }}
      </button>
      <button class="btn btn-cancel" type="button" [mat-dialog-close]="false">
        Cancel
      </button>
    </div>
  </form>
</div>
