<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p class="toolbar-text">Orders</p>
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <input
          pInputText
          placeholder="Search Orders"
          class="search-box-input"
        />
        <i class="pi pi-search"></i>
      </span>
    </div>
    <div class="p-toolbar-group-end">
      <button class="toolbar-add-btn">Add Order</button>
    </div>
  </p-toolbar>
</div>
