<div class="sidebar" [ngClass]="collapsed ? '' : ''">
  <div class="logo-container">
    <button class="logo">O</button>
    <div class="logo-text" *ngIf="collapsed">Orderfy</div>
    <button class="btn-close" *ngIf="collapsed">X</button>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-nav-item" *ngFor="let data of navData">
      <a href="" class="sidebar-nav-link">
        <span class="sidebar-link-text" *ngIf="collapsed">{{
          data.label
        }}</span>
      </a>
    </li>
  </ul>
</div>
