/*
<div class="about-container">
  <h1 class="about-title">Orderfy</h1>
  <h2 class="about-description">
    <span>{{ currentText }}</span> your orders with Orderfy.
  </h2>
</div>
*/

.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.about-logo {
  height: 50px;
}
