.chart-container {
  height: 24rem;
  padding: 30px;
  border: solid #f2f3fc 2px;
  border-radius: 30px;
  box-shadow: 0px 0px 7px 4px #f2f3fc;
}

.chart-description-text {
  font-size: 18px;
  color: #4e5967;
}

.chart-note-text {
  color: #4e5967;
  font-size: 16px;
  padding-top: 7px;
}
