.card {
  width: 30rem;
}

.chart-container {
  height: 24rem;
  padding: 30px;
  border: solid black 2px;
  border-radius: 30px;
}

.chart-description-text {
  font-size: 18px;
}

.chart-note-text {
  font-size: 16px;
  padding-top: 7px;
}
